@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);

body {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 13pt;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 100px;
    font-weight: 300;
    color: #333;
}
a {
    color: rgb(115, 162, 200);
}
.container {
    max-width: 970px;
}
h1 {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 300;
    font-size: 36pt;
}

.masthead img {
    width: 48px;
    margin-right: 0.5em;
    margin-top: -12px;
    border-radius: 24px;
}

.masthead a {
    color: white;
}

.intro .lead {
    line-height: 18pt;
    font-weight: 300;
}

.intro .part1,
.intro .part2,
.intro .part3 {
    display: inline-block;
}

.intro .part2 {
    color: #ccc;
    font-weight: 400;
}

.stripe {
    width: 100%;
    background-color: rgb(115, 162, 200);
    color: white;
}

.intro {
    margin-top: 3em;
    margin-bottom: 5em;
}

h3 {
    color: #777;
}

h3.me {
    color: white;
}

h2,
h3,
h4,
h5 {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 600;
}

.masthead hr {
    margin-bottom: 0;
}

.contact {
    font-size: 21px;
    text-align: right;
    margin-top: 7px;
}

#overview {
    font-size: 110%;
    margin-top: 0.8em;
    margin-bottom: 2em;
}

#overview h4 {
    font-size: 110%;
    margin-bottom: 5px;
}

#overview p {
    margin-bottom: 1em
}

.job h4 {
    font-size: 110%;
    margin-top: 0.25em;
    margin-bottom: 3px;
}

.job {
    margin-bottom: 2em;
}

.job_location {
    font-size: 100%;
}

.job_location a {
    margin-right: 0.5em;
    font-weight: 400;
    display: inline-block;
    width: 150px;
}

@media (max-width: 768px) {
    body,
    .container {
        font-size: 12pt;
    }
    .contact,
    .me {
        float: none;
    }
    .me {
        font-size: 12pt;
        padding-right: 0;
        font-weight: 400;
    }
    .masthead .btn {
        margin-top: 12px;
        padding: 5px;
        font-size: 12pt;
    }
    .masthead img {
        width: 36px;
        border-radius: 18px;
        margin-top: -1px;
    }
    .intro .lead {
        width: auto;
        font-size: 100%;
    }
    .intro h1 {
        font-size: 24pt;
    }
}

@media print {
    body,
    .container {
        font-size: 12pt;
        margin-bottom: 0px;
    }
    h1 {
        font-size: 24pt;
        color: black;
    }
    .intro {
        margin: 2em 0;
    }
    .masthead h3 {
        margin-top: 5px;
    }
    .masthead img {
        margin-top: -5px;
    }
    .btn {
        display: none !important;
    }
    a:after,
    a:link:after,
    a:visited:after {
        content: " ";
    }
    .job {
        page-break-inside: avoid;
    }
    .print-links a {
        display: block;
        font-size: 12pt;
    }
}
